    body {
        font-family: 'Titillium Web', sans-serif;
    }
    
    h1 {
        padding-top: 45px;
        font-size: 70px;
        font-weight: 600;
        line-height: 80px;
    }
    
    h2 {
        font-size: 48px;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 24px;
        color: #999999;
        line-height: 1.8;
        margin-bottom: 0;
    }
    
    .extraido {
        font-size: 20px;
        color: #8f8f8f;
        line-height: 1.8;
        margin-bottom: 0;
    }
    
    a:hover,
    a {
        text-decoration: none;
        font-size: 20px;
    }
    
    section {
        padding: 120px 0px;
    }
    
    .bg-light-grey {
        background-color: #f5f5f5;
    }
    
    .bg-dark {
        background-color: #1a1a1a !important;
    }
    
    .topmargin-xs {
        margin-top: 15px !important;
    }
    
    .topmargin-sm {
        margin-top: 30px !important;
    }
    
    .topmargin-lg {
        margin-top: 60px !important;
    }
    
    .btn {
        font-size: 20px;
        padding: 15px 26px;
        min-width: 160px;
        border-radius: 2px;
        display: inline-block;
    }
    
    .btn-light {
        background-color: #ffffff;
        color: #1a1a1a;
        border: 2px solid #ffffff;
    }
    
    .btn-dark {
        background-color: #0f83b5;
        color: #ffffff;
        border: 2px solid #ffffff;
    }
    
    .btn-dark:hover {
        background-color: #1a1a1a;
        color: #ffffff;
        border: 2px solid #ffffff;
    }
    
    .full-width {
        width: 100%;
    }
    
    .divider {
        border-bottom: 2px solid #f5f5f5;
    }
    
    .btn ion-icon {
        font-size: 14px;
        margin-left: 5px;
    }
    
    .text-dark {
        color: #1a1a1a;
    }
    
    .text-size-sm {
        font-size: 24px;
        line-height: bold;
    }
    
    .navbar {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
        min-height: 100px;
    }
    
    .nav-link {
        color: #1a1a1a;
    }
    
    .nav-link:hover {
        color: #1a1a1a;
    }
    
    .logo-brand {
        min-width: 120px;
        max-width: 120px;
    }
    
    .navbar-toggler {
        font-size: 40px;
    }
    
    .navbar-toggler:focus {
        outline: none;
    }
    
    #hero {
        background-image: url('../images/hero2.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 700px;
        color: #fff;
    }
    
    .p-hero {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
    }
    
    .p-texto {
        color: #1a1a1a;
        font-size: 24px;
        font-weight: 300;
    }
    
    .p-ofrecemos {
        color: #fff;
        font-size: 24px;
        font-weight: 350;
    }
    
    .p-card {
        color: #828282;
        font-size: 24px;
        font-weight: 350;
    }
    
    .oscurecer-img {
        filter: brightness(50%);
    }
    
    .content-center {
        max-width: 800px;
        margin: 0 auto 60px auto;
        text-align: center;
    }
    
    .content-justify {
        max-width: 800px;
        margin: 0 auto 60px auto;
        text-align: justify;
    }
    /*portfolio container*/
    
    .portfolio-container {
        position: relative !important;
        overflow: hidden;
        margin: 10px 0px;
        border-radius: 2px;
    }
    
    .portfolio-container img {
        /*efecto de agrandamiento de imagen*/
        -moz-transition: all 0.8s;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
    
    .portfolio-container:hover img {
        /*efecto de agrandamiento de imagen*/
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .portfolio-details {
        position: absolute;
        bottom: 25px;
        left: 25px;
        z-index: 9000;
    }
    
    .portfolio-details h2 {
        margin-bottom: 0px;
    }
    
    .portfolio-details a h2,
    .portfolio-details a p {
        color: #ffffff;
    }
    
    .pricing-container {
        margin: 15px 0px;
    }
    
    .plans {
        padding: 50px 80px;
        border-radius: 2px;
        min-width: 450px;
    }
    
    #parrafo-tarjeta {
        font-size: 18px;
        color: #ffffff;
        line-height: 1.8;
        margin-bottom: 0;
    }
    
    .plan-dark {
        background-color: #1a1a1a;
        border: 2px solid #1a1a1a;
        color: #ffffff;
    }
    
    .plans h2 {
        font-size: 70px;
        font-weight: 600;
    }
    
    .plans span {
        font-size: 20px;
    }
    
    .carousel {
        min-height: 240px;
        padding: 40px;
        border-radius: 2px;
        text-align: center;
    }
    
    .carousel p {
        font-size: 26px;
        font-weight: 400;
        color: #1a1a1a;
    }
    
    .rating ion-icon {
        color: #ffb944;
        font-size: 26px;
    }
    
    .testimonial-user {
        max-width: 240px;
        margin: 0 auto;
        text-align: left;
    }
    
    .testimonial-user h6 {
        margin-bottom: 0px;
    }
    
    .testimonial-user span {
        font-size: 12px;
    }
    
    .testimonial-user ion-icon {
        font-size: 40px;
        text-align: center;
        color: #1a1a1a;
    }
    
    .carousel-indicators li {
        background-color: #1a1a1a;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        margin: 0px 8px;
    }
    
    .carousel-control-next .carousel-control-prev {
        color: #ffffff;
        opacity: 1;
        width: 5%;
    }
    
    .control-button {
        background-color: #1a1a1a;
        opacity: 1;
        width: 50px;
        height: 50px;
        padding: 10px;
        border: 1px solid #1a1a1a;
        border-radius: 50px;
        font-size: 20px;
    }
    
    .carousel-container {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .form-control {
        font-size: 14px;
        border: 1px solid #cacacaca;
        padding: 15px;
        border-radius: 2px;
        height: auto;
    }
    
    .form-control:focus {
        border: 1px solid #1a1a1a;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: none;
    }
    
    #footer {
        padding: 80px 0;
        text-align: center;
        color: #ffffff;
    }
    
    #footer a {
        color: #ffffff;
    }
    
    #footer a:hover {
        color: #ffffff;
    }
    
    #footer .list-inline .list-inline-item {
        padding: 10px 15px;
    }
    /* SECCION DE SERVICIOS */
    
    #reparaciones {
        background-image: url('../images/hero-servicios.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 750px;
        color: #ffffff;
    }
    
    #reparaciones2 {
        background-image: url('../images/office.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 750px;
        color: #ffffff;
    }
    
    #reparaciones3 {
        background-image: url('../images/pcgamer.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 750px;
        color: #ffffff;
    }
    
    #reparaciones4 {
        background-image: url('../images/W10.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 750px;
        color: #ffffff;
    }
    
    .mapa {
        margin-top: 25px;
        margin-bottom: 100px;
        border-style: solid;
    }
    
    .container-img {
        max-width: 900px;
    }
    
    .img-services {
        max-height: 350px;
    }
    
    h4 {
        color: #1a1a1a;
        font-size: 40px;
        font-weight: 400;
    }
    
    h5 {
        color: #1a1a1a;
        font-size: 30px;
        font-weight: 400;
    }
    
    .h4-servicios {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
    }
    /*=====================PRODUCTOS============================*/
    
    #hero-productos {
        background-image: url('../images/heroProductos.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 700px;
        color: #fff;
    }
    
    .h5-slider {
        color: #fff;
        font-size: 50px;
        font-weight: 400;
    }
    
    .card-body {
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    }
    
    .card {
        margin: 20px 10px;
    }
    
    .card-body a {
        color: #0c7f90;
        text-decoration: none;
        font-size: 20px;
        margin-top: auto;
        font-weight: 600;
    }
    
    .card-body a:hover {
        color: #63a6b0;
        text-decoration: none;
    }
    
    .card-img-top {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }
    /*======================About Us=================*/
    
    .h5-servicios {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
    }
    
    #acercaDeNosotros {
        background-image: url('../images/hero-aboutus.jpg');
        background-size: cover;
        padding-top: 90px;
        min-height: 750px;
        color: #fff;
    }
    
    .card-au {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: none;
        background-color: #3b5998;
    }
    
    .socials i {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width: 100px;
        height: 100px;
        margin-top: 40px;
        font-size: 100px;
        color: #fff;
    }
    
    .card:hover {
        border-color: rgb(102, 199, 255);
        transition: .7s;
    }
    
    .main-text {
        padding: 30px 0;
        text-align: center;
    }
    
    .main-text h5 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 30px;
        margin: 0 0 20px;
        color: #fff;
    }
    
    .main-text p {
        font-size: 18px;
        padding: 0 25px;
        color: #fff;
    }
    
    .main-text a {
        font-size: 20px;
        color: #fff;
        padding: 0 10px;
        text-decoration: underline;
    }
    
    .main-text a:hover {
        font-size: 20px;
        color: #b2d7fa;
        padding: 0 10px;
        text-decoration: none;
    }
    /*Media query*/
    /* X-Small devices (portrait phones, less than 576px)*/
    
    @media (max-width: 575.98px) {
        h1 {
            font-size: 40px;
            line-height: normal;
        }
        p {
            font-size: 20px;
            line-height: normal;
        }
        .plans {
            min-width: unset;
            padding: 40px;
        }
        .carousel-item p {
            font-size: 20px;
        }
        .footer-menu {
            display: block !important;
            padding: 20px 0 !important;
            font-size: 20px;
        }
        .portfolio-details h2 {
            font-size: 32px;
        }
    }
    /* Small devices (landscape phones, less than 768px)*/
    
    @media (max-width: 767.98px) {
        h1 {
            font-size: 40px;
            line-height: normal;
        }
        p {
            font-size: 20px;
            line-height: normal;
        }
        .plans {
            min-width: unset;
            padding: 40px;
        }
        .portfolio-details h2 {
            font-size: 31px;
        }
    }
    /* Medium devices (tablets, less than 992px)*/
    
    @media (max-width: 991.98px) {
        .plans {
            min-width: unset;
            padding: 40px 20px;
        }
        .portfolio-details h2 {
            font-size: 30px;
        }
        .portfolio-details p {
            font-size: 20px;
        }
        .img-servicios {
            width: 100% !important;
        }
    }
    /* Large devices (desktops, less than 1200px)*/
    
    @media (max-width: 1199.98px) {
        a:hover,
        a {
            font-size: 18px;
        }
    }
    /* X-Large devices (large desktops, less than 1400px)*/
    
    @media (max-width: 1399.98px) {}
    /* XX-Large devices (larger desktops)*/